* {
    font-size: 15px;
    color: white;
}
body {
    margin: 0 auto;
    width: 920px;
    background-color: black;
}

/* ヘッダー部分 */
header {
    display: flex;
    gap: 1px;
    margin: 16px 0;
    padding: 1px;
    background: linear-gradient(to bottom,
        #282828 0%,
        #202020 50%,
        #171717 50%,
        #222222 100%
    );
    border-radius: 8px;
    overflow: hidden;
}
header a {
    flex: 1;
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
    text-align: center;
    text-decoration: none;
}
header a:first-child{
    border-radius: 7px 0 0 7px;
}
header a:last-child{
    border-radius: 0 7px 7px 0;
}
header a:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

/* 大タイトル部分 */
.title-big {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.title-big > img {
    width: 88px;
    height: 88px;
}
.title-big .label {
    margin-left: 8px;
    font-size: 33px;
}
.title-big .change {
    position: absolute;
    display: flex;
    align-items: center;
    right: 18px;
    border-bottom: solid 1.5px #d8d8d8;
    text-decoration: none;
}
.title-big .change:hover::after {
    content: "";
    position: absolute;
    inset: -2px;
    background-color: rgba(0, 0, 0, 0.18);
    pointer-events: none;
}
.title-big .change img {
    width: 28px;
    height: 28px;
}
.title-big .change .text {
    font-size: 17px;
    color: #d8d8d8;
}

/* パンくずリスト */
.breadcrumbs {
    display: flex;
    align-items: center;
    margin: -2px 6px 4px 6px;
}
.breadcrumbs .right-arrow {
    margin: 0 6px;
    transform: translateX(1.5px);
    height: 14px;
}
.breadcrumbs .here {
    color: #a0a0a0;
    font-size: 13.5px;
}

/* スポットライト */
.spotlight {
    display: block;
    width: 920px;
    height: 340px;
    pointer-events: none;
}

/* 作品 */
/* タイトル部分 */
.title-artwork {
    margin: 12px 10px;
}
.title-artwork .label {
    font-size: 30px;
    line-height: 1.35em;
}
.title-artwork .message {
    color: #d8d8d8;
}

/* 紹介部分 */
.introduce {
    margin: 16px 44px;
    text-align: center;
    background-color: #222222;
    border: solid 1px #181818;
    border-radius: 15px;
    overflow: hidden;
}
.introduce p {
    margin-block-start: 0.9em;
    margin-block-end: 0.9em;
}
.introduce p .emphasis {
  background-image: radial-gradient(circle, #ffffff 1px, transparent 1px);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 0.99em 2px;
  padding-top: 0.3em;
}
.introduce video {
    border-radius: 7px;
    vertical-align: top;
}

/* 文章部分 */
.dashed-line {
    margin: 44px 0;
    height: 1px;
    background-image: linear-gradient(to right, #ffffff 4px, transparent 4px);
    background-size: 8px 1px;
    background-repeat: repeat-x;
}
.docs-artwork {
    text-align: center;
    margin: 8px;
}
.docs-artwork > img {
    display: block;
    margin-inline: auto;
    margin-block-start: 2.5em;
    margin-block-end: 2.5em;
}
.docs-artwork .img_group {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 2.5em;
}
.docs-artwork p {
    margin-block-start: 2.5em;
    margin-block-end: 2.5em;
}

/* ブログ */
/* タイトル部分 */
.blog {
    margin-bottom: 30px;
    border: solid 1px #606060;
}
.blog .title-blog {
    margin: 9px 14px;
}
.blog .title-blog .label {
    font-size: 28px;
}
.blog .title-blog .date {
    margin-top: -2px;
    display: flex;
    align-items: center;
}
.blog .title-blog .date img {
    width: 18px;
    height: 18px;
}
.blog .title-blog .date .text {
    margin-left: 3px;
    font-size: 14px;
    color: #d8d8d8;
}

/* 文章部分 */
.blog .docs-blog {
    margin: 0 8px;
    text-align: center;
}
.blog .docs-blog img {
    display: block;
    margin-inline: auto;
    margin-block-start: 2.5em;
    margin-block-end: 2.5em;
}
.blog .docs-blog p {
    margin-block-start: 2.5em;
    margin-block-end: 2.5em;
}

/* フッター部分 */
footer {
    padding: 20px;
    border-top: solid 1px #a0a0a0;
}
footer .links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 12px;
    text-align: center;
}
footer .links a img {
    width: 44px;
    height: 44px;
    vertical-align: top;
}
footer .links a img:hover {
    transform: scale(1.1);
}
footer .copyright {
    margin: 12px;
    text-align: center;
}

