* {
    font-size: 15px;
    color: white;
}
body {
    margin: 0;
}
.spotlight {
    width: 860px;
    height: 320px;
    background-color: black;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}