/* カテゴリ */
.categories {
    margin: 30px 32px;
}
.categories .category {
    margin: 12px 0;
    border: solid 1px #606060;
    border-radius: 7px;
}
.categories .category > .title {
    display: flex;
    align-items: center;
    margin: 10px 12px;
}
.categories .category > .title .icon {
    width: 34px;
    height: 34px;
}
.categories .category > .title .label {
    margin-left: 7px;
    font-size: 19px;
}

/* カテゴリ内のリンク */
.categories .category .links {
    margin-top: -8px;
    margin-bottom: 19px;
}
.categories .category .links .link {
    position: relative;
    display: flex;
    margin: 13px 124px;
    height: 104px;
    background-color: #292929;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
}
.categories .category .links .link::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    pointer-events: none;
}
.categories .category .links .link:hover::after {
    background-color: rgba(0, 0, 0, 0.20);
}
.categories .category .links .link .thumbnail {
    width: 172px;
    object-fit: cover;
    pointer-events: none;
}
.categories .category .links .link .label {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    min-width: 0;
}
.categories .category .links .link .label .title {
    font-size: 26px;
}
.categories .category .links .link .label .message {
    color: #d8d8d8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.categories .category .links .link .label .date {
    display: flex;
    align-items: center;
}
.categories .category .links .link .label .date img {
    width: 19px;
    height: 19px;
}
.categories .category .links .link .label .date .text {
    margin-left: 2px;
    color: #d8d8d8;
}
