* {
    font-size: 15px;
    color: white;
}
body {
    margin: 0 auto;
    width: 920px;
    background-color: black;
}

/* ヘッダー部分 */
header {
    display: flex;
    gap: 1px;
    margin: 16px 0;
    padding: 1px;
    background: linear-gradient(to bottom,
        #282828 0%,
        #202020 50%,
        #171717 50%,
        #222222 100%
    );
    border-radius: 8px;
    overflow: hidden;
}
header a {
    flex: 1;
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
    text-align: center;
    text-decoration: none;
}
header a:first-child{
    border-radius: 7px 0 0 7px;
}
header a:last-child{
    border-radius: 0 7px 7px 0;
}
header a:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

/* パンくずリスト */
.breadcrumbs {
    display: flex;
    align-items: center;
    margin: 5px 36px;
}
.breadcrumbs .right-arrow {
    margin-left: 6px;
    margin-right: 3px;
    height: 16px;
}
.breadcrumbs .here {
    color: #a0a0a0;
}

/* スポットライト */
.spotlight-outer {
    display: flex;
    justify-content: center;
}
.spotlight-outer .spotlight {
    width: 860px;
    height: 320px;
}

/* タイトル部分 */
.title-artworks {
    margin: 10px 36px;
}
.title-artworks .label {
    font-size: 30px;
    line-height: 1.3em;
}
.title-artworks .message {
    color: #d8d8d8;
}

/* 注意表示 */
.caution {
    margin: 24px 132px;
    padding: 20px;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
    border-radius: 12px;
}

/* フッター部分 */
footer {
    padding: 24px;
    border-top: solid 1px #a0a0a0;
}
footer .links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 8px;
    text-align: center;
}
footer .links a img {
    width: 44px;
    height: 44px;
}
footer .links a img:hover {
    transform: scale(1.1);
}
footer .copyright {
    margin: 8px;
    text-align: center;
}

