/* スポットライト部分 */
.spotlights {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
    scroll-behavior: smooth;
    scrollbar-width: none;
    anchor-name: --spotlights;
}
.spotlights::before {
    content: "";
    flex: 0 0 52px;
}
.spotlights::after {
    content: "";
    flex: 0 0 52px;
}

.spotlights::scroll-button(*) {
    position: absolute;
    position-anchor: --spotlights;
    align-self: anchor-center;
    padding: 0;
    width: 52px;
    height: 320px;
    border: none;
    background-color: transparent;
    background-image: url("icons/right-arrow.png");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;
}
.spotlights::scroll-button(*):disabled {
    filter: opacity(0.5);
}
.spotlights::scroll-button(*):enabled:hover {
    background-color: rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.spotlights::scroll-button(left) {
    content: "";
    left: anchor(left);
    rotate: 180deg;
}
.spotlights::scroll-button(right) {
    content: "";
    right: anchor(right);
}
.spotlights::scroll-marker-group {
    margin-top: 7px;
    display: flex;
    justify-content: center;
    gap: 6px;
    height: 12px;
}

.spotlights .spotlight {
    scroll-snap-align: center;
    position: relative;
    display: block;
    flex: 0 0 860px;
    height: 320px;
}
.spotlights .spotlight:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.spotlights .spotlight::scroll-marker {
    content: "";
    display: block;
    width: 12px;
    height: 100%;
    border-radius: 50%;
    background-color: #808080;
    box-shadow: inset 0 0 7px #00000060;
}
.spotlights .spotlight::scroll-marker:target-current {
    background-color: white;
}
.spotlights .spotlight:nth-of-type(1) {
    scroll-initial-target: nearest;
}

/* タイトル部分 */
.title {
    margin: 32px;
}
.title .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.title .main .icon {
    position: relative;
    width: 96px;
    height: 96px;
    background-image: url("usericon.jpeg");
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.title .main .label {
    margin-left: 12px;
    font-size: 32.5px;
}
.title .main .favicon {
    width: 50px;
    height: 50px;
}
.title .main .favicon-music {
    margin-left: 2px;
}
.title .main .favicon-game {
    margin-left: -1px;
}

/* メッセージ部分 */
.title .message {
    margin: 12px 88px;
    background: #2a2a2a;
    border: solid 1px #323232;
    overflow: hidden;
}
.title .message .inner {
    display: none;
    padding: 6px;
    width: fit-content;
    white-space: nowrap;
}

/* リンク部分 */
body > .links {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin: 40px 0;
}
body > .links a {
    display: block;
    padding: 8px 48px;
    border: solid 1px #a0a0a0;
    border-radius: 6px;
    text-decoration: none;
}
body > .links a:hover{
    border-color: #808080;
    color: #b0b0b0;
}
