.soliloquies {
    margin: 16px 32px 30px 32px;
}

.soliloquies .soliloquy {
    margin: 12px 0;
    border: solid 1px #484848;
    border-radius: 7px;
}

.soliloquies .soliloquy .message {
    margin: 29px 24px 0px 24px;
    text-align: center;
}

.soliloquies .soliloquy .time {
    margin: 4px 11px 6px 11px;
    color: #a0a0a0;
    font-size: 14px;
}