/* タイトル部分 */
body > .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 30px;
}
body > .title .user-icon {
    position: relative;
    width: 88px;
    height: 88px;
    background-image: url("../icons/artworks.png");
    background-size: cover;
}
body > .title .label {
    font-size: 33px;
}

/* カテゴリ */
.categories {
    margin: 30px 32px;
}
.categories .category {
    margin: 12px 0;
    background-color: #171717;
    border: solid 1px #121212;
    border-radius: 14px;
}
.categories .category > .title {
    display: flex;
    align-items: center;
    margin: 10px 12px;
}
.categories .category > .title .icon {
    width: 34px;
    height: 34px;
}
.categories .category > .title .label {
    margin-left: 7px;
    font-size: 19px;
}

/* カテゴリ内のリンク */
.categories .category .links {
    margin-top: -11px;
    margin-bottom: 18px;
}
.categories .category .links .link {
    position: relative;
    display: flex;
    margin: 15px 124px;
    height: 108px;
    background-color: #2e2e2e;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
}
.categories .category .links .link::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
.categories .category .links .link:hover::after {
    background-color: rgba(0, 0, 0, 0.20);
}
.categories .category .links .link .thumbnail {
    flex: 0 0 172px;
    width: 172px;
    object-fit: cover;
    pointer-events: none;
}
.categories .category .links .link .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    min-width: 0;
}
.categories .category .links .link .label .title {
    font-size: 26px;
}
.categories .category .links .link .label .message {
    color: #d8d8d8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



