/* タイトル部分 */
body > .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 30px;
}
body > .title .user-icon {
    position: relative;
    width: 88px;
    height: 88px;
    background-image: url("../icons/artworks.png");
    background-size: cover;
}
body > .title .label {
    font-size: 33px;
}

/* カテゴリ */
.categories {
    margin: 30px;
}
.categories .category {
    margin: 20px;
    border: solid 1px #a0a0a0;
    border-radius: 12px;
}
.categories .category > .title {
    display: flex;
    align-items: center;
    margin: 14px 18px;
}
.categories .category > .title .icon {
    width: 50px;
    height: 50px;
}
.categories .category > .title .label {
    margin-left: 8px;
    font-size: 30px;
}
.categories .category > .title .message {
    margin-left: 12px;
    color: #d8d8d8;
}

/* カテゴリ内のリンク */
.categories .category .link {
    position: relative;
    display: flex;
    margin: 24px 120px;
    border: solid 1px #a0a0a0;
    border-radius: 9px;
    overflow: hidden;
    text-decoration: none;
}
.categories .category .link:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
}
.categories .category .link .thumbnail {
    flex: 0 0 180px;
    height: 100px;
    object-fit: cover;
    pointer-events: none;
}
.categories .category .link .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    padding: 13px;
    min-width: 0;
    border-left: solid 1px #a0a0a0;
}
.categories .category .link .label .title {
    font-size: 26px;
}
.categories .category .link .label .message {
    color: #d8d8d8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



